<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="footer-info">
                    <h5>Store Information</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-links">
                    <h5>Useful links</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-links">
                    <h5>Customer Care</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-links">
                    <h5>Products</h5>
                </div>
            </div>
        </div>
    </div>
</footer>
<section class="bottom-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <p>&copy All right reserved | AgroFarm</p>
            </div>
            <div class="col-md-2">
                <span>visa</span>
                <span>eSewa</span>
            </div>
        </div>
    </div>
</section>
</body>
</html>