{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}{% load bootstrap5 %} {% bootstrap_css %}
    <title>{{page_name}} | AgroFarm</title>
    {%bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="static/main.css">
  </head>
  <body>
    <div class="top-nav">
      <div class="container">
        <div class="top-nav-content">
          <a href="/"><i class="fa-solid fa-house"></i> AgroFarm</a>
        </div>
        <div class="right-user-info">
          <div class="nav-item dropdown">
            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              User
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-item text-capitalize">Hello {{user}}</li>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>