{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}{% load bootstrap5 %} {% bootstrap_css %}
    <title>{{page_name}} | AgroFarm</title>
    {%bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="static/main.css">
  </head>
  <body>
    <div class="top-nav">
        <div class="top-nav-content">
            <a href="/"><i class="fa-solid fa-house"></i> AgroFarm</a>
        </div>
    </div>