<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% load static %}

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet" />
    <title>
        {% block title %}
            {{page_name}}
        {% endblock title %}
        | agroFarm-merchant
    </title>

    {% block head %}{% endblock head %}
  </head>
  <body>
    {% include "merchant/temp/header_merchant.html" %}
    {% comment %} {% include "merchant/temp/merchant_nav.html" %} {% endcomment %}

    <section class="dashboard-page">
        <div class="row gx-0">
          <div class="col-md-2">
            <div class="dashboard-nav-wrapper">
              {% include "merchant/temp/nav_merchant.html" %}
            </div>
          </div>
          <div class="col-md-10 px-4" style="background-color: #f9f9f9;">
              {% block body %}
  
              {% endblock body %}
          </div>
        </div>
      </section>
    {% include "merchant/temp/footer_merchant.html" %}
      
  </body>
</html>