<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% load static %}

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <link rel="stylesheet" href="css/all.css">
    <title>
        agroFarm | 
        {% block title %}
            {{page_name}}
        {% endblock title %}
    </title>

    {% block head %}{% endblock head %}

</head>
<body>
    {% include "merchant/temp/header.html" %}
    {% block body %}
    
    {% endblock body %}
    {% include "merchant/temp/header.html" %}
    
</body>
</html>