{% load static %}
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script type="text/javascript" src="{% static 'js/imgcontrol.js' %}"></script>
<script>
    const quill = new Quill('#editor', {
        placeholder: 'Product Description',
        theme: 'snow'
    });
    formids = ['addproductform', 'editproductform', 'editproducttypeform', 'addproducttypeform'];

    formids.forEach(formid => {
        var form = document.getElementById(formid);

        // Add a submit event listener to the form
        if(form){
            form.onsubmit = function() {
                // Get the content from the Quill editor
                var editorContent = quill.root.innerHTML;

                // Set the hidden input field's value to the editor content
                document.getElementById('editorContent').value = editorContent;
            };
        }
    });
</script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>