{% extends "customer/temp/base.html" %}
{% block body %}
{% if alert_detail %}
<div class="alert alert-danger d-flex align-items-center mb-4" role="alert">
  <svg
    class="alert_icon bi flex-shrink-0 me-2"
    role="img"
    aria-label="Warning:"
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="currentColor"
    class="bi bi-exclamation-triangle-fill"
  >
    <path d="M8 0a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 0zm0 12a.5.5 0 0 1 .5.5.5.5 0 0 1-.5.5.5.5 0 0 1-.5-.5.5.5 0 0 1 .5-.5z" />
  </svg>
  <div><strong>{{ alert_title }}</strong> {{ alert_detail }}</div>
</div>
{% endif %}

{% if address%}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 col-sm-12">
        <form action="{% url 'customer:add-address' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="action" value="edit">
          <div class = "d-flex justify-content-center fs-1 fw-bold mb-3">Address</div>
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="country" class="form-label fs-5 fw-bold">Country</label>
              <input type="text" name="country" id="country" class="form-control" value="{{ address.country }}" required>
            </div>
            <div class="col-md-6">
              <label for="province" class="form-label fs-5 fw-bold">Province</label>
              <input type="text" name="province" id="province" class="form-control" value="{{ address.state }}" required>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-6">
              <label for="district" class="form-label fs-5 fw-bold">District</label>
              <input type="text" name="district" id="district" class="form-control" value="{{ address.district }}" required>
            </div>
            <div class="col-md-6">
              <label for="municipality" class="form-label fs-5 fw-bold">Municipality</label>
              <input type="text" name="municipality" id="municipality" class="form-control" value="{{ address.municipality }}" required>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-6">
              <label for="postalCode" class="form-label fs-5 fw-bold">Postal Code</label>
              <input type="text" name="postalCode" id="postalCode" class="form-control" value="{{ address.zip_code }}" required>
            </div>
            <div class="col-md-6">
              <label for="street" class="form-label fs-5 fw-bold">Street</label>
              <input type="text" name="street" id="street" class="form-control" value="{{ address.street }}" required>
            </div>
          </div>

          <div class="mb-3">
            <label for="landmark" class="form-label fs-5 fw-bold">Landmark</label>
            <textarea name="landmark" id="landmark" class="form-control" rows="4">{{ address.landmark }}</textarea>
          </div>
          <div class = "d-flex justify-content-end mb-5">
            <button type="submit" class="btn btn-success ">Edit Address</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% else %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-12">
      <form action="{% url 'customer:add-address' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name='action' value='add'>
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="country" class="form-label">Country</label>
            <input type='text' name="country" id="country" class="form-control" required>
            </input>
          </div>
          <div class="col-md-6">
            <label for="province" class="form-label">Province</label>
            <input type='text' name="province" id="province" class="form-control" required>
            </input>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <label for="district" class="form-label">District</label>
            <input type="text" name="district" id="district" class="form-control" required>
              
          </input>
          </div>
          <div class="col-md-6">
            <label for="municipality" class="form-label">Municipality</label>
            <input type="text" id="municipality" name="municipality" class="form-control" required />
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <label for="postalCode" class="form-label">Postal Code</label>
            <input type="text" id="postalCode" name="postalCode" class="form-control" required />
          </div>
          <div class="col-md-6">
            <label for="street" class="form-label">Street</label>
            <input type="text" id="street" name="street" class="form-control" required />
          </div>
        </div>

        <div class="mb-3">
          <label for="landmark" class="form-label">Landmark</label>
          <textarea id="landmark" name="landmark" class="form-control" rows="4"></textarea>
        </div>
        
        <div class = "d-flex justify-content-end mb-5">
          <button type="submit" class="btn btn-success ">Add Address</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %}
{% endblock body %}
