{% extends "customer/temp/base.html" %}
{% block body %}
<div class="alert alert-danger d-flex align-items-center" role="alert">
  <svg
    class="alert_icon bi flex-shrink-0 me-2"
    role="img"
    aria-label="Warning:"
  >
    <use xlink:href="#exclamation-triangle-fill" />
  </svg>
  <div><strong>{{alert_title}}</strong> {{alert_detail}}</div>
</div>

<form action={% url 'customer:add-address' %} method="POST">
  {% csrf_token %}
  <label for="country">Country</label>
  <select name="country" id="country" required>
    {% for country in countrys %}
    <option value="{{country}}">{{country}}</option>
    {% endfor %}
  </select>
  <br />

  <label for="province">province</label>
  <select name="province" id="province" required>
    {% for province in provinces %}
    <option value="{{province}}">{{province}}</option>
    {% endfor %}
  </select>
  <br />

  <label for="district">district</label>
  <select name="district" id="district" required>
    {% for district in districts %}
    <option value="{{district}}">{{district}}</option>
    {% endfor %}
  </select>
  <br />

  <label for="municipality">municipality</label>
  <input type="text" id="municipality" name="municipality" required />
  <br />

  <label for="postalCode">postalcode</label>
  <input type="text" id="postalCode" name="postalCode" required />
  <br />
  <label for="street">street</label>
  <input type="text" id="street" name="street" required />
  <br />

  <label for="landmark">landmark</label>
  <textarea id="landmark" name="landmark" rows = "4" cols = "40" required />
  </textarea>
  <hr>
  <input
    type="checkbox"
    name="shippingAddress"
    id="shippingAddress"
    value="true"
    checked
  />
  <label for="shippingAddress">Use as Shipping Address</label>
  <button type="submit">Submit address</button>
</form>
{% endblock body %}
