{% extends "customer/temp/base.html" %}
{% block body %}
<div class="row justify-content-center">
    <div class="col-8 text-center">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>UID</th>
                        <th>Product</th>
                        <th>Rate</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <form action="{% url 'customer:buy-now' %}" method="POST">
                        {% csrf_token %}
                        {% for product in products %}
                            <tr>
                                <td>
                                    <label for="{{ product.uid }}">
                                        <input type="hidden" name="cart_item" id="{{ product.uid }}" value="{{ product.uid }}">
                                        {{ product.uid }}
                                    </label>
                                </td>
                                <td>
                                    {{ product.name }}
                                </td>
                                <td>
                                    <span id="rate-{{ product.uid }}">{{ product.rate }}</span>
                                </td>
                                <td>
                                    <label for="quantity-{{ product.uid }}">
                                        <input type="number" name='quantity' id='quantity-{{ product.uid }}' min="1" value="1">
                                    </label>
                                </td>
                                <td>
                                    <span id="price-{{ product.uid }}">0.00</span>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <button class='btn btn-success' type="submit">
                                    Buy Now
                                </button>
                            </td>
                        </tr>
                    </form>
                </tbody>
            </table>
        </div>                
    </div>
</div>
{% endblock body %}