{% extends "customer/temp/base.html" %}
{% block body %}
<div class='container'>
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <form action="{% url 'customer:buy-now' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="action" value="edit">
        
                <div class="row mb-3">
                    <div class="col-md-6">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="country" id="country" class="form-control" value="{{ address.country }}" required>
                    </div>
                    <div class="col-md-6">
                    <label for="province" class="form-label">Province</label>
                    <input type="text" name="province" id="province" class="form-control" value="{{ address.state }}" required>
                    </div>
                </div>
        
                <div class="row mb-3">
                    <div class="col-md-6">
                    <label for="district" class="form-label">District</label>
                    <input type="text" name="district" id="district" class="form-control" value="{{ address.district }}" required>
                    </div>
                    <div class="col-md-6">
                    <label for="municipality" class="form-label">Municipality</label>
                    <input type="text" name="municipality" id="municipality" class="form-control" value="{{ address.municipality }}" required>
                    </div>
                </div>
        
                <div class="row mb-3">
                    <div class="col-md-6">
                    <label for="postalCode" class="form-label">Postal Code</label>
                    <input type="text" name="postalCode" id="postalCode" class="form-control" value="{{ address.zip_code }}" required>
                    </div>
                    <div class="col-md-6">
                    <label for="street" class="form-label">Street</label>
                    <input type="text" name="street" id="street" class="form-control" value="{{ address.street }}" required>
                    </div>
                </div>
        
                <div class="mb-3">
                    <label for="landmark" class="form-label">Landmark</label>
                    <textarea name="landmark" id="landmark" class="form-control" rows="4">{{ address.landmark }}</textarea>
                </div>
                <hr>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Rate</th>
                                <th>Quantity</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for combined_data in combined_data %}
                                <tr>
                                    <input type="hidden" name="cart_item" id="{{ combined_data.products.uid }}" value="{{ combined_data.products.uid }}">
                                    <input type="hidden" name="item_name" id="{{ combined_data.products.name }}" value="{{ combined_data.products.name }}">
                                    <td>
                                        {{ combined_data.products.name }}
                                    </td>
                                    <td>
                                        <span id="rate-{{ combined_data.products.uid }}">{{ combined_data.product_user.price }}</span>
                                    </td>
                                    <td>
                                        <label for="quantity-{{ combined_data.products.uid }}">
                                            <input type="number" name='quantity' id='quantity-{{ combined_data.products.uid }}' min="10" value="10">
                                        </label>
                                    </td>
                                    <td>
                                        <span id="price-{{ combined_data.products.uid }}">0.00</span>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> 
                <div class='row justify-content-end'>
                    <div class='col-auto'>
                        <button class='btn btn-success' type="submit">
                            Buy Now
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock body %}