{% extends "customer/temp/base.html" %}
{% block body %}
<section class="cart-body section-gaps">
    <div class="container">
        {% if products %}
        <form action="{% url 'customer:my-cart' %}" method="POST" id="myForm">
            {% csrf_token %}
            <div class="row justify-content-center">
                <div class="col-8 text-center">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th><label for="select">
                                        <input type="checkbox" name="action" id="select">Select All
                                    </label></th>
                                    <th>Product</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in products %}
                                    <tr>
                                        <td>
                                            <label for="{{ product.uid }}">
                                                <input type="checkbox" name="cart_item" id="{{ product.uid }}" value="{{ product.uid }}">
                                                {{ product.uid }}
                                            </label>
                                        </td>
                                        <td>
                                            <label for="{{ product.uid }}">
                                                {{ product.name }}
                                            </label>
                                        </td>
                                        <td>
                                            <label for="{{ product.uid }}">
                                                {{ product.rate }}
                                            </label>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>                
                </div>
            </div>
            <div class='row justify-content-center'>
                <div class='col-8 d-flex justify-content-end text-center'>
                    <button class="btn btn-success mx-3" type="submit" value="buy" name="action">
                        Buy Now
                    </button>
                    <button class="btn btn-danger " type="submit" value="delete" name="action">
                        Delete
                    </button>
                </div>
            </div>
        </form>
        {% else %}
        <div class='row justify-content-center'>
            <div class='col-6 text-center'>
                <h1>OOPS!! CART EMPTY</h1>
                <h2>
                    <a href="{% url "customer:home" %}">Continue shopping...</a>
                </h2>
            </div>
        </div>
        {% endif %}
    </div>
</section>


    
{% endblock body %}