{% extends "customer/temp/base.html" %}

{% block body %}
{% comment %} <section class="image-slider">
    <div id="carouselExampleFade" class="carousel slide carousel-fade">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://img.freepik.com/premium-photo/fresh-carrots-with-green-leaves-rustic-wooden-table-selective-focus_1108670-510.jpg?size=626&ext=jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://img.freepik.com/free-photo/side-view-vegetables-as-garlic-pepper-cucumber-tomato-bowl-wood_141793-16831.jpg?size=626&ext=jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://img.freepik.com/premium-photo/fresh-organic-vegetable_114106-1589.jpg?size=626&ext=jpg&ga=GA1.1.1306462682.1721826994&semt=sph" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>    
    </div>
</section> {% endcomment %}
<section class="product-listing section-gaps">
  <div class="container">
    <h1 class="page-title mb-4">Products</h1>
    <div class='row g-4'>
      {% for combined_data in combined_data %}
        <div class='col-md-3'>
          {% include "customer/temp/product_list.html" with combined_data=combined_data%}
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock body %}

