<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    {% load static %}
      
      {% load bootstrap5 %}
      {% bootstrap_css %}
      {% bootstrap_javascript %}
      
      <link rel="stylesheet" href="{% static 'css/all.css' %}">
      <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
      <link rel="stylesheet" href="{% static 'css/form.css' %}"/>
      <link rel="stylesheet" href="{% static 'css/main.css' %}">
      <link rel="stylesheet" href="{% static 'css/splide.main.css' %}">
      
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col p-0">
          <div class = "auth-cont">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis id perferendis veniam. Natus, suscipit tenetur? Quod, quisquam, quas odio cum fugit, aperiam porro aut beatae eaque corporis quam corrupti? Numquam.
        </div>
      </div>
          <div class="col p-0">

    <div class="auth-form">
      <div class = "message" >
        {% if messages %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {% for message in messages %}
              <p><strong>Holy guacamole!</strong> {{message}}</p>
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endif %}
      </div>
    
      <div class="form_title">
        Welcome Back
      </div>

      <form action="{% url 'customer:login' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control auth-input"
            id="username"
            aria-describedby="teztHelp"
            name="username"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control auth-input"
            id="password"
            name="password"
            required
          />
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="button btn btn-primary">
            Login
          </button>
        </div>
        <a href = "{% url 'customer:signup' %}">Don't have an account</a>
        <a href = "{% url 'merchant:login' %}">Become a Merchant</a>
      </form>
    </div>
</div>
</div>
</div>
  </body>
</html>