<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    
      {% load static %}
      {% load bootstrap5 %}
      {% bootstrap_css %}
      {% bootstrap_javascript %}
      
      <link rel="stylesheet" href="{% static 'css/form.css' %}"/>
  </head>
  <body>
    <div class="row">
      <div class="col-4 p-0">
        <div class = "auth-cont">
          <div class='brand-name'>
            <span class="agro2">Agro</span><span class="farm2">Farm</span>
          </div>
        </div>
      </div>
      <div class="col-8 p-0">
        <div class="auth-form">
          <div class = "message" >
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-warning d-flex align-items-center" role="alert">
                  {{message}}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% endfor %}
            {% endif %}
          </div>
          
          <div class="form_title">Welcome Back</div>
          <form action="{% url 'customer:login' %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <label for="username">Username</label>
              <input
                type="text"
                class="form-control auth-input"
                id="username"
                aria-describedby="teztHelp"
                name="username"
                required
              />
            </div>
            <div class="mb-3">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control auth-input"
                id="password"
                name="password"
                required
              />
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="log-button btn btn-primary">
                Login
              </button>
            </div>
            <a href = "{% url 'customer:signup' %}">Don't have an account</a>
            <a href = "{% url 'merchant:login' %}">Become a Merchant</a>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>