{% extends "customer/temp/base.html" %}

{% block body %}
<section class="search-result section-gaps">
    <div class="container">
        <div class="search-query pb-2">
            <h1>Search result for: {{ query }}</h1>
        </div>

        <div class="search-result-wrap">
            <div class='row'>
                {% for product in results %}
                <div class='col-md-3'>
                    {% include "customer/temp/product_list.html" with combined_data=product %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock body %}