<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    
    <link rel="stylesheet" href="{% static 'css/form.css' %}"/>

    <title>signup</title>
  </head>
  <body>
    <div class="row">
      <div class="col-4 p-0">
        <div class = "auth-cont">
          <div class='brand-name'>
            <span class="agro2">Agro</span><span class="farm2">Farm</span>
          </div>
        </div>
      </div>
      <div class="col-8 p-0">
        <div class="auth-form">
          <div class = "message" >
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-warning d-flex align-items-center" role="alert">
                  {{message}}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% endfor %}
            {% endif %}
          </div>

          <div class="form_title">Create Account</div>
          <form action={% url 'customer:signup' %} method="POST">
            {% csrf_token %}
            <input
            type="hidden"
            class="form-control"
            id="status"
            aria-describedby="teztHelp"
            name="status"
            value = "customer"
            required
            />
            <div class = 'row'>
              <div class="col auth-row-input mb-3">
                <label for="firstName" >First Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  aria-describedby="teztHelp"
                  name="firstName"
                  required
                />
              </div>
              <div class="col auth-row-input mb-3">
                <label for="lastName" >Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="lastName"
                  aria-describedby="teztHelp"
                  name="lastName"
                  required
                />
              </div>
            </div>

            <div class = 'row'>
              <div class="col auth-row-input mb-3">
                <label for="username" >Username</label>
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  aria-describedby="teztHelp"
                  name="username"
                  required
                />
              </div>
              <div class="col auth-row-input mb-3">
                <label for="email" >Email</label>
                <input
                  type="mail"
                  class="form-control"
                  id="email"
                  name="email"
                  required
                />
              </div>
            </div>

            <div class = 'row'>
              <div class="col auth-row-input mb-3">
                <label for="password" >Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  required
                />
              </div>
              <div class="col auth-row-input mb-3">
                <label for="confirm-password" >Confirm Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="confirm-password"
                  name="confirm-password"
                  required
                />
              </div>
            </div>

            <div class = 'row'>
              <div class="col auth-row-input mb-3">
                <label for="mobile" >Mobile Number</label>
                <input
                  type="tel"
                  class="form-control"
                  id="mobile"
                  name="mobile"
                  required
                />
              </div>
              <div class="col auth-row-input mb-3">
              </div>
            </div>
            
            <button type="submit" class="log-button btn btn-primary mt-5">
              Signup
            </button> 
            <a href="{% url 'customer:login' %}">Already have an account</a>
            <a href="{% url 'merchant:login' %}">Become a Merchant</a>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>