body{
    font-family: 'poppins';
}

.container{
    max-width: 100%;
}

.dashboard-page .row{
    margin-right: 0px;
}

.top-nav{
    background:#22a776;
    padding: 5px 20px ;
    color: #fff;
}

.top-nav-content{
    display: inline-block;
}

.right-user-info{
    display: inline-block;
}

.top-nav a, .dashboard-nav-wrapper a{
    text-decoration: none;
    color: #000;
}

.dashboard-nav-wrapper{
    padding: 20px 0px;
    background: #57e6b2;
    height: 100vh;
}

.dashboard-nav-wrapper ul{
    list-style: none;
}

.dashboard-nav-wrapper li a{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px 0;
}

.dashboard-content-wrapper{
    padding: 20px 0px;
}

.dashboard-nav-wrapper svg{
    height: auto;
    width: 30px;
}

.dashboard-nav-wrapper svg path{
    stroke: #000;
}

#profileimg{
    display: none;
}

#fimg{
    width: 60px;
}

#removeimg{
    display: block;
}

.dashboard-products-wrapper table{
    width: 100%;
    max-width: 100%;
}