@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --primary-color: #66A931;
}

body{
    font-family: "Inter", sans-serif;
}

.container{
    max-width: 100%;
}

.dashboard-page .row{
    margin-right: 0px;
}

.top-nav{
    background:var(--primary-color);
    padding: 5px ;
    color: #fff;
}

.top-nav-content{
    display: inline-block;
}
.top-nav-content svg{
    height: 30px;
    width: 30px;
    position: relative;
    top: -3px;
}
.right-user-info{
    display: inline-block;
}
.right-user-info svg{
    width: 30px ;
    height: 30px ;
}
.right-user-info .nav-link{
    padding: 10px 0;
}
.top-nav-content a{
    font-size: 24px;
}
.right-user-info  .nav-link img{
    width: 30px;
}
.top-nav a, .dashboard-nav-wrapper a{
    text-decoration: none;
    color: #fff;
}

.dashboard-nav-wrapper{
    /* padding: 20px 0px; */
    background: var(--primary-color);
    height: 100vh;
    position: sticky;
    top: 0;
}

.dashboard-nav-wrapper ul{
    list-style: none;
}

.dashboard-nav-wrapper li a{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px 0;
}

.dashboard-content-wrapper{
    padding: 20px 0px;
}

.dashboard-nav-wrapper svg{
    height: auto;
    width: 30px;
}

#profileimg{
    display: none;
}

#removeimg{
    display: block;
}

.dashboard-products-wrapper table{
    width: 100%;
    max-width: 100%;
}

.dashboard-nav-wrapper ul{
    padding: 0;
    margin: 0;
}
.dashboard-nav-wrapper ul li a{
    padding: 10px 20px;
}
.dashboard-nav-wrapper ul ul a{
    padding-left: 80px;
}
.dashboard-nav-wrapper ul li a:hover{
    background-color: #000000;
}

.dashboard-product{
    margin-top: 30px;
}
.dashboard-product > .title{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}
.dashboard-product > .title h1{
    margin: 0;
    font-size: 28px;
}
.default-btn,
.dashboard-product > .title a{
    display: inline-block;
    padding: 5px 20px;
    background-color: #f0f0f1;
    border: 1px solid #cccccc;
    border-radius: 2px;
    text-decoration: none;
    color: #333333;
    position: relative;
    top: 2px;
}
.dashboard-products-wrapper table :is(img,svg){
    width: 50px;
    height: 50px;
    object-fit: contain;
    padding: 5px;
}
.dashboard-products-wrapper table tr th{
    background-color: #f6f7f9;
}
.dashboard-products-wrapper table tr:nth-child(odd){
    background-color: #ececec;
}
.dashboard-products-wrapper table tr :is(th,td):first-child{
    text-align: center;
}
.dashboard-products-wrapper table tr td a{
    color: inherit;
    text-decoration: none;
}
.dashboard-products-wrapper table tr td a:hover{
    color: var(--primary-color);
}


.add-form-layout .left-field{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.add-form-layout label{
    display: block;
}
.custom-sty-form label,
.add-form-layout label span{
    font-size: 18px;
    font-weight: 600;
}
.custom-sty-form :is(input:not([type="submit"]),textarea),
.add-form-layout .input-field input{
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #cccccc;
    border-radius: 2px;
}

.add-form-layout .category-box,
.add-form-layout  .user-profile-image,
.add-form-layout .publish-button{
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #cccccc;
}
.add-form-layout .category-box span,
.add-form-layout  .user-profile-image span,
.add-form-layout .publish-button h3{
    font-size: 18px;
    font-weight: 600;
    padding: 15px;
    border-bottom: 1px solid #cccccc;
    display: block;
}

.add-form-layout .publish-button .publish-box{
    padding: 15px;
}
.custom-sty-form  .submit-button input,
.add-form-layout .publish-button input[type="submit"]{
    display: inline-block;
    padding: 5px 20px;
    background-color: #f0f0f1;
    border: 1px solid #cccccc;
    border-radius: 4px;
    text-decoration: none;
    color: #333333;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    min-width: 130px;
    transition: all 0.3s ease;
}
.right-bar{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.add-form-layout  .user-profile-image label{
    display: block;
    margin: 15px;
}
.add-form-layout  .user-profile-image img{
    width: 100% ;
    object-fit: contain;
    object-position: center;
    background-color: #cccccc;
}

.add-form-layout  .user-profile-image .button-wrapper{
    padding: 0 15px 15px;
}

.add-form-layout  .category-box ul{
    padding: 15px;
    margin: 0;
    list-style: none;
}
.add-form-layout  .category-box ul li{
    display: flex;
    gap: 5px;
}
.form-wrap{
    padding-bottom: 50px;
}
#editor {
    height: 200px;
    background-color: #FFFFFF;
}
.error-message{
    color: red;
}
.add-form-layout .delete-btn{
    color: red;
    border: 1px solid;
    border-color: rgb(225, 0, 0);
    display: inline-block !important;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    padding: 5px 20px;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}
.add-form-layout .delete-btn:hover{
    color: #ffffff;
    background-color: rgb(225, 0, 0);
}
.green-btn{
    background-color: #66A931 !important;
    color: #ffffff !important;
}
.add-form-layout .publish-button input[type="submit"]:hover{
    background-color: #000000 !important;
    border-color: #000000 !important;
}

.order-table table{
    width: 100%;
    border-radius: 8px;
    overflow: clip;
}
.order-table table thead tr{
    background-color: #ffffff;
}
.order-table table tbody tr:nth-child(odd){
    background-color: #cccccc;
}
.order-table table tbody tr:nth-child(even){
    background-color: #ececec;
}
.order-table tr :is(th,td){
    padding: 5px 20px;
}
.order-table .status-btn{
    background-color: var(--bg-color);
    color: #000000;
    display: inline-block;
    width: 130px;
    text-align: center;
    padding: 5px 20px;
    border-radius: 4px;
}

.order-table tr th {
    background-color: #66A931;
    color: #FFFFFF;
    padding-block: 12px;
}

.order-table .status-btn.processing-btn{
    --bg-color: #eddd2b;
}
.order-table .status-btn.completed-btn{
    --bg-color: #66A931;
    color: #fff;
}
.order-table .status-btn.cancelled-btn{
    --bg-color: #eb1d36;
    color: #ffffff;
}


.profile-img-wrapper > span{
    display: inline-block;
    margin-bottom: 10px;
}
.profile-img{
    display: flex;
    align-items: center;
    gap: 10px;
}
.profile-img{
    flex: 0 0 75px;
}


.order-page .box{
    padding: 30px;
    background-color: #ececec;
    border-radius: 16px;
}

.order-page .latest-orders ul li:nth-child(odd){
    background-color: #cccccc;
}
.order-page .latest-orders ul li:nth-child(even){
    background-color: #f6f7f9;
}