body{
    font-family: 'poppins';
}
.dashboard-page .row{
    margin-right: 0px;
}

.top-nav{
    background:#22a776;
    padding: 5px 20px ;
    color: #fff;
}

.top-nav-content{
    display: inline-block;
}

.right-user-info{
    display: inline-block;
}

.top-nav a, .dashboard-nav-wrapper a{
    text-decoration: none;
    color: #000;
}

.dashboard-nav-wrapper{
    padding: 20px 0px;
    background: #57e6b2;
    height: 100vh;
}

.dashboard-nav-wrapper ul{
    list-style: none;
    padding-left: 20px;
}

.dashboard-content-wrapper{
    padding: 20px 0px;
}

.dashboard-nav-wrapper i{
    font-size: 16px;
    margin-right: 8px;
}