:root {
    --primary-color: #519259;
    --secondary-color: #1A544D;
    --color-four: #F4EEA9;
    --alert_color: #eb1d36;
    --color-bg: #eae3d2;
    --color-bgd: #f9f5eb;
}
body{
    min-height: 100vh;
    position: relative;
}
footer{
    position: sticky;
    top:100%;
}
.section-gaps{
    padding: 90px 0;
}

a{
    color: inherit;
}
a:not(:hover){
    text-decoration: none;
}
a:hover{
    color: inherit;
}
.navbar {
    padding: 1em 0;
    width: 100%;
}

.brand-name {
    display: inline-flex;
    font-size: 3em; /* Adjust size as needed */
    font-weight: 700;
    text-decoration: none;
}

.agro {
    color: var(--secondary-color); /* Color for "Agro" */
}

.farm {
    color: #fff; /* Color for "Farm" */
}

.brand-name:hover .agro {
    color: #fff; /* "Agro" color when hovered */
}

.brand-name:hover .farm {
    color: var(--secondary-color); /* "Farm" color when hovered */
}

.navbar-brand {
    color: var(--secondary-color);
    margin: 0 0 0 1.3em;
    padding: 0 0.5em;
    border-radius: 2em;
    font-size: 3em;
    font-weight: 700;
}

.navbar-brand:hover {
    color: var(--color-four);
}

.nav-bar{
    padding-left: 0px;
}

.nav-item .nav-link {
    color: #fff;
    padding: 15px 8px;
    font-size: 16px;
    text-transform: capitalize;
}

.nav-item{
    margin-left: 30px;
}

.dropdown{
    background-color: var(--primary-color);
    border-radius: 40px;
    margin: 5px 0 ;
}

.dropdown-toggle::after{
    margin-left: 50px;
}
.nav-menu{
    margin: 15px 0;
    background-color: var(--secondary-color);
}

.nav-menu li{
    display: inline-block;
}

.dropdown .nav-link:hover {
    border-radius: 40px;
    background-color: var(--primary-color);
    color: var(--color-four);
}

.nav-item .nav-link:hover {
    text-decoration: underline;
}

.dropdown-menu li{
    width: 100%;
    display: block;
}

.carousel-inner img {
    height: 500px; /* Set a fixed height */
    object-fit: cover; /* Ensures the image covers the area without stretching */
    width: 100%; /* Ensures the image takes the full width of the carousel */
}

/* Style specific to .product-list-link */
.product-list-link {
    color: black; /* Set the text color to black */
    text-decoration: none; /* Remove the underline */
}

/* Optional: Add hover effect */
.product-list-link:hover {
    color: black; /* Ensure hover color stays black */
    text-decoration: none; /* Keep underline removed on hover */
}


/* .btn {
    color: var(--color-bgd);
    border-color: var(--color-bgd);
    margin-right: 1.2em;
}

.btn:hover {
    background-color: var(--primary-color);
    border-color: var(--color-bgd);
} */


/* header section*/
img{
    max-width: 100%;
    height: auto;
}
#searchform{
    position: relative;
}
.submit-field{
    position: absolute;
    right: 0;
    width: auto;
    padding: 0;
}

.search-form-wrapper form input{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z'/%3E%3C/svg%3E");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 97% center;
    border-radius: 20px;
    padding: 8px 15px;
    background-color: #ffff;
    width: 100%;
    box-sizing: border-box;
    border: none;
}

.search-form-wrapper form input:focus{
    border-color: var(--primary-color) ;
    box-shadow: none;
}

.login-signup-wrapper a{
    color: #fff;
    font-size: 22px;
}

.login-signup-wrapper a:hover, .login-signup-wrapper a:focus{
    color: var(--secondary-color)
}

.dropdown-menu{
    z-index: 99999;
}

.login-signup-wrapper a.dropdown-item{
    color: #000;
    font-size: 16px;
}
.table{
    vertical-align: middle;
}
.table-responsive .status-btn{
    background-color: var(--bg-color);
    color: #000000;
    display: inline-block;
    min-width: 130px;
    width: 100%;
    text-align: center;
    padding: 5px 20px;
    border-radius: 4px;
}
.table-responsive .status-btn.processing-btn{
    --bg-color: rgb(245, 245, 55);
}
.table-responsive .status-btn.completed-btn{
    --bg-color: rgb(0, 221, 0);
}
.table-responsive .status-btn.cancelled-btn{
    --bg-color: rgb(255, 0, 0);
    color: #ffffff;
}

.featuredimage img{
    height: 15rem; 
    max-height: 100%; 
    object-fit: contain; 
}

.detail-image img{
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  h1.main-title{
    font-size: 26px;
    color: #1E1E1E;
  }
  .quantity-wrapper,
  .price {
    margin-bottom: 36px;
  }
  .price .amount{
    font-size: 20px;
    color: #686363;
    display: block;
  }
  .price .amount-source{
    font-size: 12px;
  }
  .product-listing-stock{
    margin-bottom: 40px;
  }
  .product-listing-stock .product-item + .product-item{
    margin-top: 16px;
  }
  .product-listing-stock .locationpoint{
    display: block;
    color: #686363;
    text-decoration: none;
    border: 1px solid #686363;
    padding: 15px 20px;
    border-radius: 8px;
    font-size: 12px;
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .product-listing-stock .locationpoint *{
    pointer-events: none;
  }
  .locationpoint.out-of-area::before{
    content: 'Out of Area **';
    position: absolute;
    display: inline-block;
    background-color: #b50000;
    color: #ffffff;
    top: -1px;
    right: -1px;
    padding: 5px 15px;
    border-radius: 0 8px 0 8px;
    font-size: 14px;
    font-weight: 400;
  }
  small{
    font-size: 0.7em;
  }
  .product-listing-stock .locationpoint h3{
    font-size: 20px;
  }
  .product-listing-stock .locationpoint:hover{
    border-color: #217232;
    color: #1E1E1E;
  }
  .product-listing-stock .locationpoint.active:hover,
  .product-listing-stock .locationpoint.active{
    background-color: #217232;
    color: #ffffff;
  }
  .add-to-cart-btn a{
    border-radius: 100px;
    display: inline-block;
    padding: 14px 48px;
    background-color: #66A931;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1;
    transition: all 0.3s ease;
  } 
  .add-to-cart-btn a:hover{
    background-color: #217232;
  }
  .cavet-wrapper{
    margin-top: 38px;
    font-size: 12px;
    color: #1E1E1E;
  }
.information{
    font-size: 10px;
    font-weight: 500;
    color: #b60000;
    line-height: 1.2;
}
header{
    background-color: var(--primary-color);
    padding: 15px 0;
}
footer{
    background-color: var(--primary-color);
    color:#ffff
}

.out-of-area-msg{
    padding: 20px;
    border: 1px solid #ffc107;
    background-color: #FFF3D6;
    color: #C0392B;
    border-radius: 8px;
    font-weight: 600;
}
.area-button button{
    padding: 6px 24px;
    border-radius: 4px;
    border: 1px solid #519259;
    background-color: #519259;
    color: #ffffff;
    font-weight: 500;
    transition: all 0.3s ease;
}
.area-button button:hover{
    background-color: #1A544D;
}
.area-button button.cancelbtn{
    background-color: transparent;
    color: var(--alert_color);
    border-color: var(--alert_color);
}
.area-button button.cancelbtn:hover{
    background-color: var(--alert_color);
    color: #ffffff;
}
.locationpoint:after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: inherit;
    z-index: 1;
}
/* Chrome, Safari, Edge, Opera */
.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.quantity input[type=number] {
  -moz-appearance: textfield;
  width: 100%;
  max-width: 100%;
  text-align: center;
  border: 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.quantity{
    display: grid;
    grid-template-columns: 40px 50px 40px;
    margin-top: 5px;

}
table .quantity{
    place-content: center;

}
.quantity button{
    border: 1px solid;
    background-color: transparent;
    height: auto;
    aspect-ratio: 1;
    border-radius: 0;
    font-size: 20px;
    font-weight: 700;
    display: inline-grid;
    place-content: center;
    line-height: 1;
    transition: all 0.3s ease;
}

.quantity button.quantity-down{
    border-radius: 4px 0 0 4px;
    border-right-color: #cccccc;
}
.quantity button.quantity-up{
    border-radius: 0 4px 4px 0;
    border-left-color: #cccccc;
}
.quantity button:hover{
    background-color: #000000;
    color: #ffffff;
    border-color: #000000;
}

.locationpoint:after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: inherit;
    z-index: 1;
}

.review-ratings{
    display: flex;
    justify-content: center;
}
.review-ratings input[type="radio"]{
    display: none;
}
.review-ratings label{
    --size: 20px;
    width: var(--size);
    height: var(--size);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' fill='orange'%3E%3Cpath d='M287.9 0c9.2 0 17.6 5.2 21.6 13.5l68.6 141.3 153.2 22.6c9 1.3 16.5 7.6 19.3 16.3s.5 18.1-5.9 24.5L433.6 328.4l26.2 155.6c1.5 9-2.2 18.1-9.7 23.5s-17.3 6-25.3 1.7l-137-73.2L151 509.1c-8.1 4.3-17.9 3.7-25.3-1.7s-11.2-14.5-9.7-23.5l26.2-155.6L31.1 218.2c-6.5-6.4-8.7-15.9-5.9-24.5s10.3-14.9 19.3-16.3l153.2-22.6L266.3 13.5C270.4 5.2 278.7 0 287.9 0zm0 79L235.4 187.2c-3.5 7.1-10.2 12.1-18.1 13.3L99 217.9 184.9 303c5.5 5.5 8.1 13.3 6.8 21L171.4 443.7l105.2-56.2c7.1-3.8 15.6-3.8 22.6 0l105.2 56.2L384.2 324.1c-1.3-7.7 1.2-15.5 6.8-21l85.9-85.1L358.6 200.5c-7.8-1.2-14.6-6.1-18.1-13.3L287.9 79z'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.review-ratings label:has(~ label input:checked),
.review-ratings label:has(~ label:hover),
.review-ratings label:hover,
.review-ratings label:has(input:checked){
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' fill='orange'%3E%3Cpath d='M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z'/%3E%3C/svg%3E");
}

.my-cart-table input[type="checkbox"]{
    scale: 2;
}
.my-cart-table thead th{
    padding: 0;
    height: 50px;
    vertical-align: middle;
}
.my-cart-table thead input[type="checkbox"]{
    display: none;
}
.my-cart-table thead th:has(input[type="checkbox"]){
    padding: 0;
    vertical-align: middle;
}
.my-cart-table thead th:has(input[type="checkbox"]) label{
    display: grid;
    width: 100%;
    height: 100%;
    cursor: pointer;
    place-content: center;
}

.latest-orders table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.latest-orders thead {
    background-color: #f6f7f8;
    color: #101010;
    text-align: left;
}

.latest-orders thead th {
    padding: 15px;
    font-size: 16px;
}

.latest-orders tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.latest-orders tbody td {
    padding: 12px 15px;
    font-size: 14px;
    text-align: left;
}

.latest-orders tbody tr:hover {
    background-color: #e9f7fe;
}

select#orderstatus {
    padding: 10px 20px;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    font-weight: 500;
    margin-top: 10px;
}