<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/splide.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <title>
        agroFarm |
        {% block title %}
            {{page_name}}
        {% endblock title %}
    </title>
    
    {% block head %}
    {% endblock head %}
</head>
<body>
    {% include "customer/temp/header.html" %}
    <div class="container">
      <div class="row">
        <div class="col m-5 px-5">
          <div class = "message" >
            {% if messages %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {% for message in messages %}
                  <p><strong>Holy guacamole!</strong> {{message}}</p>
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endif %}
          </div>
        </div>
        
      </div>
    </div>
    {% block body %}
          
    {% endblock body %}
    
    {% include "customer/temp/footer.html" %}
    <script src="{% static 'js/customer/main.js' %}"></script>
</body>

</html>