<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="footer-info">
                    <h5>Store Information</h5>
                    <p>
                        here goes the store info.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa harum dolor vero sunt accusantium cum veritatis quasi illo praesentium maxime repellat sapiente animi doloremque sint, debitis accusamus ipsum. Eaque, quia!
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-links">
                    <h5>Useful links</h5>
                    <p>
                        here goes the store info.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa harum dolor vero sunt accusantium cum veritatis quasi illo praesentium maxime repellat sapiente animi doloremque sint, debitis accusamus ipsum. Eaque, quia!
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-links">
                    <h5>Customer Care</h5>
                    <p>
                        here goes the store info.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa harum dolor vero sunt accusantium cum veritatis quasi illo praesentium maxime repellat sapiente animi doloremque sint, debitis accusamus ipsum. Eaque, quia!
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-links">
                    <h5>Products</h5>
                    <p>
                        here goes the store info.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa harum dolor vero sunt accusantium cum veritatis quasi illo praesentium maxime repellat sapiente animi doloremque sint, debitis accusamus ipsum. Eaque, quia!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-10 text-center text-md-left">
                <p>&copy; All rights reserved | AgroFarm</p>
            </div>
            <div class="col-md-2 text-center text-md-right">
                <span>Visa</span>
                <span>eSewa</span>
                <span>Khalti</span>
                <span>IMEPay</span>
            </div>
        </div>
    </div>
    
</footer>