<footer class="customer-footer">
    <div class="container">
        <div class="row m-2 p-5 pb-3 align-items-center justify-content-center gap-4">
            <div class="col-12 text-center">
                <h5 class="mb-4">Customer Support</h5>
                <p class="mb-0">Phone: <a href="tel:+9779861805864">+977-9861805864</a></p>
                <p>Email: <a href="mailto:collegeprojectwork404@gmail.com">collegeprojectwork404@gmail.com</a></p>
            </div><div class="col-12 text-center">
                <p>© 2024 All rights reserved | Team ARK</p>
            </div>
        </div>
    </div>
</footer>