<footer class="customer-footer">
    <div class="container" hidden>
        <div class="row">
            <div class="col-md-3">
                <div class="footer-info">
                    <h5>Store Information</h5>
                    <p>
                        here goes the store info.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa harum dolor vero sunt accusantium cum veritatis quasi illo praesentium maxime repellat sapiente animi doloremque sint, debitis accusamus ipsum. Eaque, quia!
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-links">
                    <h5>Useful links</h5>
                    <p>
                        here goes the store info.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa harum dolor vero sunt accusantium cum veritatis quasi illo praesentium maxime repellat sapiente animi doloremque sint, debitis accusamus ipsum. Eaque, quia!
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-links">
                    <h5>Customer Care</h5>
                    <p>
                        here goes the store info.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa harum dolor vero sunt accusantium cum veritatis quasi illo praesentium maxime repellat sapiente animi doloremque sint, debitis accusamus ipsum. Eaque, quia!
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-links">
                    <h5>Products</h5>
                    <p>
                        here goes the store info.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa harum dolor vero sunt accusantium cum veritatis quasi illo praesentium maxime repellat sapiente animi doloremque sint, debitis accusamus ipsum. Eaque, quia!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row m-2 p-5 align-items-center justify-content-center">
            <div class="col-3 text-center text-left">
                
            </div>
            <div class='col-3 text-left'>
                <p>&copy; 2024 All rights reserved | Team AARK</p>
            </div>
            <div class="col-3 text-center text-left">
                
            </div>
            <div class = 'col-3 text-left'>
                <h5>Customer Support</h5>
                <p>Phone:+977-9861805864</p>
                <p>Email: collegeprojectwork404@gmail.com </p>
            </div>
            <div class="col-md-2 text-center text-md-right" hidden>
                <span>Visa</span>
                <span>eSewa</span>
                <span>Khalti</span>
                <span>IMEPay</span>
            </div>
        </div>
    </div>
    
</footer>