{% load static %}

<header class="site-header">
  <div class="container">
    <div class="row align-items-center" >
      <div class="col-md-3">
          <div class="logo-wrapper">
            <a class="brand-name" href="/" style="color: #fff;">
              AgroFarm
            </a>                          
          </div>
      </div>

      <div class="col-md-6">
          <div class="search-form-wrapper">
              <form id="searchform" method="get" action="{% url 'customer:search_products' %}" class="search-form">
                  <div class="d-flex">
                      <div class="col-md-12">
                          <input type="text" name="query" placeholder="Search..." value="{{ request.GET.query|default_if_none:'' }}">
                      </div>
                  </div>
              </form>
          </div>
      </div>

      <div class="col-md-3">
        <div class="login-signup-wrapper d-flex justify-content-end align-items-right">
          
          <!-- Cart Icon -->
          <div class="dropdown">
            <a class="nav-link position-relative" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-cart-shopping"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'customer:order-detail' %}">My Orders</a></li>
              <li><a class="dropdown-item" href="{% url 'customer:my-cart' %}">My Cart</a></li>
            </ul>
          </div>

          <!-- User Icon -->
          <div class="dropdown">
            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-regular fa-user"></i>
            </a>
            <ul class="dropdown-menu">
              {% if request.user.is_authenticated %}
              <li><a class="dropdown-item" href="{% url 'customer:add-address' %}">My Address</a></li>
                <li><a class="dropdown-item" href="{% url 'customer:logout' %}">Logout</a></li>
                {% if request.user.is_staff or request.user.is_superuser %}
                <li><a class="dropdown-item" href="{% url 'merchant:dashboard' %}">Dashboard</a></li>
                {% else %}
                <li><a class="dropdown-item" href="{% url 'merchant:signup' %}">Become a merchant</a></li>
                {% endif %}
              {% else %}
                <li><a class="dropdown-item" href="{% url 'customer:login' %}">Login</a></li>
                <li><a class="dropdown-item" href="{% url 'customer:signup' %}">Signup</a></li>
              {% endif %}
            </ul>
          </div> 
        </div>
      </div>
    </div>
  </div>
</header>
