{% extends "merchant/temp/base.html" %}
{% load static %}

{% block title %}
{{page_name}}
{% endblock title %}

{% block body %}
<div class="dashboard-product">
    <div class="title">
        <h1>Products</h1>
    </div>
    <div class="dashboard-products-wrapper">
        <span class="error-message">
            {% for message in messages %}
            {{message}}
            {% endfor %}
        </span>
        <div class="form-wrap">
            <form method="post" id="editproductform" class="productforms">
                {% csrf_token %}
                <div class="add-form-layout row">
                    <div class="col-md-8">
                        <div class="left-field">
                            <div class="input-field">
                                <input type="text" name="producttitle" id="producttitle" value="{{product.name}}" readonly>
                            </div>
                            <div class="input-field">
                                <label><span>Stock({{product.unit}})</span>
                                    <input type="number" name="stock" id="stock" min="0" placeholder="Products in stock" value="{{product_user.quantity}}">
                                </label>
                            </div>
                            <div class="input-field">
                                <label><span>Price (Rs)</span>
                                    <input type="number" name="price" min="{{ min_price }}" max="{{ max_price }}" id="price" placeholder="{{ product.min_price }} - {{ product.max_price }}" autocomplete="off" value="{{product_user.price}}">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="right-bar">
                            <div class="publish-button">
                                <h3>Publish</h3>
                                <div class="publish-box">
                                    <span class="publish-date">
                                        Publish Date: {{product.created}}
                                    </span>
                                    <div class="d-flex justify-content-between align-items-center mt-3">
                                        <a href="/merchant/products/delete-product/{{product.uid}}" class="delete-btn">Delete Product</a>
                                        <input type="submit" value="Update" class="green-btn">
                                    </div>
                                </div>
                            </div>
                            <div class="form-field user-profile-image">
                                <span>Product Featured image</span>
                                {% if image_exists %}
                                <img src="{% static 'images/' %}{{ product.slug }}.png" alt="{{ product.name }} image">
                                {% else %}
                                <img src="{% static 'images/default-nobg.png' %}" alt="{{ product.name }} image">
                                {% endif %}
                            </div>
                        </div>
                    </div>


                </div>
            </form>
        </div>
    </div>
</div>
{% endblock body %}