{% extends "merchant/temp/base.html" %}
{% block body %}
<div class="dashboard-product">
    <div class="order-wrappper">
        <div class="order-table">
            <table>
                <thead>
                    <tr>
                        <th>S.N</th>
                        <th>Order ID</th>
                        <th>Product Name</th>
                        <th>Customer ID</th>
                        <th>Quantity</th>
                        <th>Price(Rs.)</th>
                        <th>Total Price(Rs.)</th>
                        <th>Status</th>
                        <th>Ordered Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in orders %}
                    <tr>
                        <td>
                            {{forloop.counter}}
                        </td>
                        <td><a href="/merchant/order/edit-order/{{x.uid}}">#{{x.uid}}</a></td>
                        <td><a href="/merchant/order/edit-order/{{x.uid}}">{{x.productID}}</a></td>
                        <td style="text-transform: capitalize;">{{ x.userID}}</td>
                        <td style="text-transform: capitalize;">{{ x.quantity}}</td>
                        <td style="text-transform: capitalize;">{{ x.rate}}</td>
                        <td style="text-transform: capitalize;">{{ x.amount}}</td>
                        <td>
                            <span class="status-btn {{x.status|lower}}-btn text-capitalize">
                                {{x.status}}
                            </span>
                        </td>
                        <td>
                            {{x.created}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock body %}