{% extends "merchant/temp/base.html" %}
{% block body %}
<div class="dashboard-product">
    <div class="order-wrappper">
        <div class="order-table">
            <table>
                <thead>
                    <tr>
                        <th>S.N</th>
                        <th>Order ID</th>
                        <th>Product Name</th>
                        <th>Customer ID</th>
                        <th>Status</th>
                        <th>Ordered Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>123455674</td>
                        <td>Tomato</td>
                        <td>Customer</td>
                        <td>
                            <span class="status-btn processing-btn">
                                Processing
                            </span>
                        </td>
                        <td>
                            7/29/2022
                        </td>
                    </tr>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>123455674</td>
                        <td>Tomato</td>
                        <td>Customer</td>
                        <td>
                            <span class="status-btn complete-btn">
                                Complete
                            </span>
                        </td>
                        <td>
                            7/29/2022
                        </td>
                    </tr>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>123455674</td>
                        <td>Tomato</td>
                        <td>Customer</td>
                        <td>
                            <span class="status-btn cancelled-btn">
                                Cancelled
                            </span>
                        </td>
                        <td>
                            7/29/2022
                        </td>
                    </tr>

                    <tr>
                        <td>
                            1
                        </td>
                        <td>123455674</td>
                        <td>Tomato</td>
                        <td>Customer</td>
                        <td>
                            <span class="status-btn cancelled-btn">
                                Cancelled
                            </span>
                        </td>
                        <td>
                            7/29/2022
                        </td>
                    </tr>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>123455674</td>
                        <td>Tomato</td>
                        <td>Customer</td>
                        <td>
                            <span class="status-btn processing-btn">
                                Processing
                            </span>
                        </td>
                        <td>
                            7/29/2022
                        </td>
                    </tr>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>123455674</td>
                        <td>Tomato</td>
                        <td>Customer</td>
                        <td>
                            <span class="status-btn processing-btn">
                                Processing
                            </span>
                        </td>
                        <td>
                            7/29/2022
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock body %}