{% include 'theme-temp/dashboard-header.html' %}

<section class="dashboard-page">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="dashboard-nav-wrapper container">
          {% include 'template-parts/dashboard-nav.html' %}
        </div>
      </div>
      <div class="col-md-10">
        <div class="title">
            <h1>Products</h1>
            <a href="#">Add Product</a>
        </div>
        <div class="dashboard-products-wrapper">
            <p>Add product form here</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% include 'theme-temp/dashboard-footer.html' %}
