{% include 'theme-temp/dashboard-header.html' %}

<section class="dashboard-page">
  <div class="row">
    <div class="col-md-2">
      <div class="dashboard-nav-wrapper container">
        <ul>
          <li><a href="/dashboard" title="">Dashboard</a></li>
          <li><a href="#" title="">Users</a></li>
          <li><a href="#" title="">Products</a></li>
          <li><a href="#" title="">Orders</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-10">
        <div class="dashboard-content-wrapper">
            <p>This is dashboard</p>
        </div>
    </div>
  </div>
</section>
{% include 'theme-temp/dashboard-footer.html' %}
