{% include 'theme-temp/dashboard-header.html' %}

<section class="dashboard-page">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="dashboard-nav-wrapper container">
          {% include 'template-parts/dashboard-nav.html' %}
        </div>
      </div>
      <div class="col-md-10">
        <div class="dashboard-content-wrapper">
          <div class="row">
            <div class="col-md-6">
              <div class="latest-orders">
                <div class="title">
                  <h3>Orders</h3>
                </div>
                <ul>
                  <li>Order 1</li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <div class="chart-wrapper">
                <div class="title">
                  <h3>Sales</h3>
                </div>
                <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include 'theme-temp/dashboard-footer.html' %}
