{% include 'theme-temp/header.html' %}

<section class="dashboard-page">
  <div class="row">
    <div class="col-md-3">
      <div class="dashboard-nav-wrapper">
        <ul>
          <li><a href="/dashboard" title="">Dashboard</a></li>
          <li><a href="#" title="">Users</a></li>
          <li><a href="#" title="">Products</a></li>
          <li><a href="#" title="">Orders</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      <p>This is dashboard</p>
    </div>
  </div>
</section>

{% include 'theme-temp/footer.html' %}
