{% include 'theme-temp/customer-header.html' %}
<section>
  <div class="container">
    <div>
      <h1>This is index Page</h1>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi animi quaerat doloremque reprehenderit aliquam cumque dolore sequi ipsa nobis, 
      at dicta qui obcaecati ratione magnam inventore cum saepe reiciendis. Ratione.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi animi quaerat doloremque reprehenderit 
      aliquam cumque dolore sequi ipsa nobis, at dicta qui obcaecati ratione magnam inventore cum saepe reiciendis. Ratione.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi animi quaerat doloremque reprehenderit aliquam cumque dolore 
      sequi ipsa nobis, at dicta qui obcaecati ratione magnam inventore cum saepe reiciendis. Ratione.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi animi quaerat doloremque reprehenderit aliquam cumqu
      e dolore sequi ipsa nobis, at dicta qui obcaecati ratione magnam inventore cum saepe reiciendis. Ratione.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi animi quaerat doloremque reprehenderit aliquam cumque dolore se
      qui ipsa nobis, at dicta qui obcaecati ratione magnam inventore cum saepe reiciendis. Ratione.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi animi quaerat doloremque reprehenderit aliquam cumque dolore sequi
       ipsa nobis, at dicta qui obcaecati ratione magnam inventore cum saepe reiciendis. Ratione.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi animi quaerat doloremque reprehenderit aliquam cumque dolore sequ
      i ipsa nobis, at dicta qui obcaecati ratione magnam inventore cum saepe reiciendis. Ratione.</p>
  </div>
</section>
{% include "theme-temp/customer-footer.html" %}